@import "tailwindcss";

@theme {
  /* Custom theme configuration can go here */
}

body {
  color: #1f2937;
  background: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom Scrollbar */
@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }

  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
  }
}